{% extends '_base/_page-nav.twig' %}

{% block page_title __('Videodownloader Info') %}

{% block page_main %}
<div class="row">
	<div class="col-md-8">
	{% for message in messages %}
		{{ dump(message) }}
	{% endfor %}

	{% if content %}
		<p>{{ content }}</p>
	{% else %}
		<p>Content not set.</p>
	{% endif %}

	{% set contenttype = 'himentries' %}
	{% if contenttype %}
		<div class="table-responsive">
			<h2>{{ contenttype }}</h2>
			<table class="table table-striped dashboardlisting">
				<caption>{{ status|default('Overview of the video downloader stats.') }}</caption>
				<thead>
					<tr>
						<th colspan="3" scope="col"><i class="fa fa-fw fa-cloud"></i> Total</th>
						<th scope="col"><i class="fa fa-fw fa-cloud-download"></i> Processed</th>
						<th scope="col"><i class="fa fa-fw fa-clock-o"></i> Waiting</th>
						<th scope="col"><i class="fa fa-fw fa-close"></i> Invalid</th>
					</tr>
				</thead>
				<tbody class="striping_odd">
					<tr>
						<th colspan="2" scope="row"><i class="fa fa-fw fa-file-video-o"></i> Videos</th>
						<td title="All video entries">{{ video.total|default('0') }}</td>
						<td>{{ video.processed|default('0') }}</td>
						<td>{{ video.waiting|default('0') }}</td>
						<td>{{ video.invalid|default('0') }}</td>
					</tr>
					<tr>
						<td><i class="fa fa-fw fa-angle-right"></i> </td>
						<th scope="row"><i class="fa fa-fw fa-youtube-square"></i> Youtube</th>
						<td title="All youtube entries">{{ youtube.total|default('0') }}</td>
						<td>{{ youtube.processed|default('0') }}</td>
						<td>{{ youtube.waiting|default('0') }}</td>
						<td>{{ youtube.invalid|default('0') }}</td>
					</tr>
					<tr>
						<td><i class="fa fa-fw fa-angle-right"></i> </td>
						<th scope="row"><i class="fa fa-fw fa-vimeo-square"></i> Vimeo</th>
						<td title="All vimeo entries">{{ vimeo.total|default('0') }}</td>
						<td>{{ vimeo.processed|default('0') }}</td>
						<td>{{ vimeo.waiting|default('0') }}</td>
						<td>{{ vimeo.invalid|default('0') }}</td>
					</tr>
					<tr>
						<td><i class="fa fa-fw fa-angle-right"></i> </td>
						<th scope="row"><i class="fa fa-fw fa-file-text-o"></i> Direct url</th>
						<td title="All direct url entries">{{ direct.total|default('n/a') }}</td>
						<td>{{ direct.processed|default('n/a') }}</td>
						<td>{{ direct.waiting|default('n/a') }}</td>
						<td>{{ direct.invalid|default('n/a') }}</td>
					</tr>
					<tr>
						<th colspan="2" scope="row"><i class="fa fa-fw fa-file-picture-o"></i> Non-video</th>
						<td title="All non-video entries">{{ other.total|default('0') }}</td>
						<td>{{ other.processed|default('n/a') }}</td>
						<td>{{ other.waiting|default('n/a') }}</td>
						<td>{{ other.invalid|default('n/a') }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endif %}
	</div>

    <aside class="col-md-4">
        {% if sidebar %}
            {% for panel in sidebar %}
            <div class="panel panel-default panel-{{ panel.icon|default('info') }}">
                <div class="panel-heading">
                    <b><i class="fa fa-fw fa-{{ panel.icon|default('info') }}"></i> {{ panel.title|default('info') }}</b>
                </div>
                <div class="panel-body">
                    <p>{{ panel.body|default('')|raw }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </aside>

</div>
{% endblock %}
